.flexbox-container{
    display:flex;
    flex: 1;
}
.left{
    flex:0.45;
}
.right{
    flex: 0.55;
}
img{
    width: 250px;
    height: 275px;
    border-radius: 90%;
    margin: 1%;
}
#picdiv{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #595551;
}
#infodiv{
    display: flex;
    flex-direction: column;
    padding: 10%;
    background-color: #253439;
    color: white;
}
ul > li{
    font-size: 19px;
}
h1{
    padding: 5px;
}
#infodiv > p{
    padding: 15px;
    font-size: 28px;
    margin: -1%;
}
#objdiv{
    border-bottom: 1px solid black;
    border-radius: 5%;
    padding: 7%;
}
.right p{
    font-size: 28px;
}
#extradiv{
    border-bottom: 1px solid black;
    border-radius: 5%;
    padding: 7%;
}
#edudiv{
    padding: 7%;
}
.right h1,
.right p,
.right ul{
    color:#253439;
}
.right ul>li{
    margin: 20px;
}
.right ul>li{
    font-size: 22px;
}
#infodiv>h1{
    text-decoration: underline;
}
.right h1{
    text-decoration: underline;
}