<%- include('./partials/header') %>
<html>
<title>Responses</title>
<body>
  <div class="container">
    <h1>Responses</h1>

    <a class="btn btn-outline-success mb-3" href="#" onclick="addResponse()">Add</a>

    <!-- Add Response Modal -->
    <div class="modal fade" id="addResponseModal" tabindex="-1" role="dialog" aria-labelledby="addResponseModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="addResponseModalLabel">Add Response</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <input type="text" id="responseInput" class="form-control" placeholder="Enter response">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" onclick="saveResponse()">Save</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          </div>
        </div>
      </div>
    </div>

    <ul class="list-group">
      <% responses.forEach(function(response, index) { %>
        <li class="list-group-item">
          <div class="d-flex justify-content-between align-items-center">
            <strong>Response <%= index + 1 %>: <%= response.text %></strong>
            <div>
              <button class="btn btn-outline-primary mr-2">Edit</button>
              <button class="btn btn-outline-danger">Delete</button>
            </div>
          </div>
        </li>
      <% }); %>
    </ul>
  </div>
<script>
  function addResponse() {
    $('#addResponseModal').modal('show');
  }


    function saveResponse() {
    var response = $('#responseInput').val();
    console.log('Saving response: ' + response);
    // Send the response to the server using an AJAX request
    $.ajax({
        url: '/responses/add',
        method: 'POST',
        data: { response: response },
        dataType: 'json',
        success: function() {
          console.log('Response saved successfully!');
          window.location.reload();
        },
        error: function() {
          console.log('Error saving response.');
        }
    });
    $('#addResponseModal').modal('hide');
  }
  
</script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>