div{
    border: 1px solid black;
  
}
.left {
    float: left;
    width: 50%;
}
.right {
    overflow: hidden;
}
img{
    width: 250px;
    height: 290px;
    border-radius: 90%;
}
#picdiv{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    background-color: #595551;
}
#infodiv{
    display: flex;
    flex-direction: column;
    padding: 10%;
    background-color: #253439;
    color: white;
}
ul > li{
    font-size: 19px;
}
h1{
    padding: 5px;
}
h2{
    padding: 15px;
}